<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmmes.mapper.SiteTypeMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.hmmes.bean.SiteType" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="code" property="code"/>
	<result column="rank" property="rank"/>
	<result column="descr" property="descr"/>
	<result column="state" property="state"/>
	<result column="createTime" property="createTime"/>
	<result column="updateTime" property="updateTime"/>
</resultMap>
       
<!-- site_type table all fields -->
<sql id="Base_Column_List" >
	 id,name,code,rank,descr,state,createTime,updateTime
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	 <if test="name != null and name != ''" >
	    and name like CONCAT('%', #{name}, '%')
	</if>
	 	<if test="code != null and code != ''" >
	    and code =  #{code}
	</if>
	<if test="rank != null" >
	    and rank =  #{rank}
	</if>
	 	<if test="descr != null and descr != ''" >
	    and descr =  #{descr}
	</if>
	<if test="state != null" >
	    and state =  #{state}
	</if>
	<if test="createTime != null" >
	    and createTime =  #{createTime}
	</if>
	<if test="updateTime != null" >
	    and updateTime =  #{updateTime}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into site_type(id,name,code,rank,descr,state,createTime,updateTime)
 values(#{id},#{name},#{code},#{rank},#{descr},#{state},now(),now())
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update site_type set name=#{name},code=#{code},rank=#{rank},descr=#{descr},state=#{state},updateTime=now() where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update site_type set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="code != null  and code != '' ">
		code=#{code},
	</if>
	<if test="rank != null  ">
		rank=#{rank},
	</if>
	<if test="descr != null  and descr != '' ">
		descr=#{descr},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	<if test="createTime != null  ">
		createTime=#{createTime},
	</if>
	<if test="updateTime != null  ">
		updateTime=#{updateTime},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from site_type where id = #{id}
</delete>
 
<!-- 根据id查询 站点分类 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from site_type where id = #{id}
</select>

<!-- 站点分类 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from site_type 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询站点分类列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from site_type 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<!-- 删除类型关联的数据 -->
<delete id="deleteSiteRel" parameterType="Object">
	delete 	from site_type_rel where siteTypeId = #{id}
</delete>


<!-- 查询所有站点类型 -->
<select id="queryByAll"  resultMap="BaseResultMap" parameterType="Object">
	select id,name from site_type where state = 0
</select>

<!-- 根据站点id查询的类型 -->
<select id="queryBySiteId"  resultMap="BaseResultMap" parameterType="Object">
	select id,name from site_type t,site_type_rel r where t.id = r.siteTypeId AND t.state = 0 AND r.siteId = #{siteId}
</select>
</mapper>   
