<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmmes.mapper.XsddRkhbMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.hmmes.bean.XsddRkhbBean" >
	<result column="id" property="id"/>
	<result column="ddid" property="ddid"/>
	<result column="rkrq" property="rkrq"/>
	<result column="rksl" property="rksl"/>
	<result column="rksm" property="rksm"/>
	<result column="rk" property="rk"/>
	<result column="lrBy" property="lrBy"/>
	<result column="lrTime" property="lrTime"/>

</resultMap>



<!-- xsdd table all fields -->
<sql id="Base_Column_List" >
	 id,ddid,rkrq,rksl,rksm,rk,lrBy,lrTime
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1 
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
	<if test="ddid != null" >
	    and ddid =  #{ddid}
	</if>
	<if test="rkrq != null" >
	    and rkrq =  #{rkrq}
	</if>
	<if test="rksl != null" >
	    and rksl =  #{rksl}
	</if>
	 <if test="rksm != null and rksm != ''" >
	 	and rksm like CONCAT('%', #{rksm}, '%')
	</if>
	<if test="rk != null" >
	    and rk =  #{rk}
	</if>

	<if test="lrBy != null and lrBy != ''" >
	    and lrBy  like CONCAT('%',#{lrBy},'%')
	</if>
	<if test="lrTime != null" >
	    and lrTime =  #{lrTime}
	</if>

</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into xsdd_rkhb(id,ddid,rkrq,rksl,rksm,rk,lrBy,lrTime)
 values(#{id},#{ddid},#{rkrq},#{rksl},#{rksm},#{rk}, #{lrBy},now())
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update xsdd_rkhb set ddid=#{ddid},rkrq=#{rkrq},rksl=#{rksl},rksm=#{rksm},rk=#{rk},lrBy=#{lrBy},lrTime = now() where id=#{id}
 </update>
 
 <!-- 修改记录，只修改值不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update xsdd_rkhb set 
	<trim  suffixOverrides="," >
	<if test="id != null  ">
		id=#{id},
	</if>
	<if test="ddid != null  ">
		ddid=#{ddid},
	</if>
	<if test="rkrq != null  ">
		rkrq=#{rkrq},
	</if>
	<if test="rksl != null  ">
		rksl=#{rksl},
	</if>	
	<if test="rksm != null  and rksm != '' ">
		rksm=#{rksm},
	</if>


	<if test="rk != null  ">
		rk=#{rk},
	</if>

	<if test="lrBy != null  and lrBy != '' ">
		lrBy=#{lrBy},
	</if>
	<if test="lrTime != null  ">
		lrTime=#{lrTime},
	</if>

</trim> where id=#{id}
</update>


<!-- 删除记录    设置删除标记未进行删除
<update id="delete" parameterType="Object">
	update xsdd set deleted = 1 where id = #{id}
</update>
-->

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from xsdd_rkhb where id = #{id}
</delete>

<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from xsdd_rkhb where id = #{id}
</select>

<!--列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from xsdd_rkhb 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 明细列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	<!-- ,(SELECT COUNT(*) FROM xsdds c WHERE c.btid = m.id) AS subCount-->
	from xsdd_rkhb m  
	<include refid="Example_Where_Clause"/>
 	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
 

</select>

	
<!-- 查询所有有效的列表 -->
<select id="queryByAll" resultMap="BaseResultMap"  parameterType="Object">
	select  id,ddid,rkrq,rksl,rksm,rk,lrBy,lrTime from xsdd_rkhb order by rkrq desc 
</select>

<!-- 通过ID查询所有有效的列表 -->
<select id="queryListById" resultMap="BaseResultMap"  parameterType="Object">
	select  
	<include refid="Base_Column_List"/>
     from xsdd_rkhb where ddid = #{ddid} order by rkrq  desc
</select>


</mapper>   
