<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmmes.mapper.YwyMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.hmmes.bean.YwyBean" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="department" property="department"/>
	<result column="state" property="state"/>

</resultMap>
       
<!-- sys_role table all fields -->
<sql id="Base_Column_List" >
	 id,name,department,state
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and id =  #{id}
	</if>
    <if test="name != null and name != ''" >
	    and name like CONCAT('%', #{name}, '%')
	</if>
	<if test="department != null and department != ''" >
	    and department =  #{department}
	</if>
	<if test="state != null ">
		and state = #{state}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into ywy(id,name,department,state)
 values(#{id},#{name},#{department},#{state})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update ywy set name=#{name},department=#{department},state=#{state} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改值不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update ywy set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="department != null  and department != '' ">
		department=#{department},
	</if>
    <if test="state != null  ">
		state=#{state},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete  from ywy where id = #{id}
</delete>
 
<!-- 根据id查询 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from ywy where id = #{id}
</select>


<!--  列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from ywy 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询所有的列表,按照页数 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from ywy 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

	
<!-- 查询所有业务员列表 -->
<select id="queryAllList" resultMap="BaseResultMap"  parameterType="Object">
	select  <include refid="Base_Column_List"/>
	from ywy where state = 0  order by convert(name using gbk) asc
</select>


</mapper>   
